@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.loginBackground{
    background-image: radial-gradient(rgb(50,50,50),black);
    height:100vh
}
.loginHeading{
    font-family: 'Grand Hotel', cursive;
}
.loginBox
{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px white;
    margin-top: 20%;
}
.particleBackground
{
    position: absolute;
    width: 98vw;
    height: 100vh;
}
