@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.loginBackground{
    background-image: radial-gradient(rgb(50,50,50),black);
    height:100vh
}
.loginHeading{
    font-family: 'Grand Hotel', cursive;
}
.loginBox
{
    background-color: rgba(0, 0, 0, 0.6)!important;
    box-shadow: 0 0 15px white;
    margin-top: 20%;
}
.particleBackground
{
    position: absolute;
    width: 98vw;
    height: 100vh;
}

.error{
    color: red;;
}

.btn, .btn-large, .btn-small {
    color: white  !important;
    background-color: #26a69a !important;

}

.btn:hover, .btn-large:hover, .btn-small:hover {
    color: black !important ;

}

.swyamHeading{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
